@page "{slug}"
@model Naruto.Pages.Ninja

@{
    ViewData["Title"] = $"SITE - {Model.Shinobi.Slug}";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>